/* Custom CSS */
@media (max-width: 768px) {
  /* md breakpoint */
  .card-container {
    width: calc(100% - 2rem); /* Assuming you want 1rem padding on each side */
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 640px) {
  /* sm breakpoint */
  .card-container {
    width: calc(
      100% - 1rem
    ); /* Assuming you want 0.5rem padding on each side */
    margin-left: auto;
    margin-right: auto;
  }
}
